In [ ]:
student = ["CSE", "59-A","Pranto","212-15-4157", "3.90"]
print(pranto)

['CSE', '59-A', '212-15-4157', '3.90']

In [ ]:
print(len(student))
print(student[1])
print(student[-1])
print(student[2:4])

4
59-A
3.90
['212-15-4157', '3.90']

In [ ]:
print(student[2:])

In [ ]:
print(student[-4:-1])

['CSE', '59-A', '212-15-4157']

In [ ]:
print(type(student))
print(type(student[1]))

<class 'list'>
<class 'str'>

In [ ]:
if "212-15-4157" in student:
  print("Found")

Found

In [ ]:
student2=["SWE", "56-A","Anto","212-15-4000", "3.00"]
print(student2)
student2[3]="Shanto"
print(student2)

['SWE', '56-A', 'Anto', '212-15-4000', '3.00']
['SWE', '56-A', 'Anto', 'Shanto', '3.00']

In [ ]:
f = open("name.txt")

In [ ]:
f = open("name.txt", "a")
f.write("Now the file has more content!")
f.close()